@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Roboto";
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}
h1,h2,h3,h4,h5{
  font-family: "Roboto Condensed";
}
h1{
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
  color: black;
}
h2{
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
}
h3{
  font-size: 4.2em !important;
  text-align: center;
}
h4{
  font-size: 1.5em;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
}
h5{
  font-size: 1.2em;
}
.nav-bar{
  background-color: rgb(25, 33, 41);
  padding-top: 14px;
  padding-bottom: 14px;
  height: 40px;
}
.nav-bar-item{
  text-decoration: none;
  color: white;
  font-size: 2em;
}
.nav-bar-ul{
  width: 1200px;
  margin: 0 auto;
}
.nav-bar-li{
  list-style-type: none;
  text-align: center;
  float: left;
  width: 33%;
}
.header{
  height: 650px;
  color: white;
  background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
  background-repeat: no-repeat;
  position:relative;
  background-size: cover;
  padding-top: 50px;
}
.shadow{
  text-shadow: #020819 8px -20px 9px;
}
.cotizacion{
  font-size: 2.5em;
  color: black;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
}
.dark-background{
  background-color: rgb(25, 33, 41);
  color: white;
}
#general-information{
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}
.text{
  margin-top: 20px;
  margin-bottom: 20px;
}

.link-btn{
  width: 150px;
  margin: 40px auto 0 0;
  padding: 14px 20px 14px 20px;
  border: 2px black solid 0.2;
  background-color: rgb(67, 163, 230);
  color: white;
  font-family: "Roboto Condensed";
  font-size: 1em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.service-box{
  font-size: 1.7em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #eee;
  margin: 50px 5px 0 5%;
  padding: 20px;
  width: 40%;
}
.service-box>img{
  width: 125px;
}
.section-text{
  font-size: 1.9em;
  text-align: center;
}
.member-name{
  text-align: center;
  display: block;
  font-size: 1.5em;
  font-weight: 700;
}
.footer-class{
  font-size: 1.9em;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}
.address{
  font-style: normal;
  font-size: 0.8em;
  margin-top: 30px;
}
.footer-class, ul{
  list-style-type: none;
}
footer,a{
  color: rgb(67, 163, 230);
  text-decoration: none;
}


/* layout */

.col{
  float: left;
}
.col-3{
  width: 30%;
}
.col-middle{
  margin-left: 5%;
  margin-right: 5%;
}
.middle{
  margin-right: 3%;
}
.clearfix{
  clear: both;
}
.map-frame{
  height: 375px;
  width: 60%;
  float: right;
}
header>aside{
  position: absolute;
  left: 10%;
  bottom: 15vh;
}
.slot-form{

}
.slot-form-container{
  width: 40%;
  margin: 18px auto 0 auto;
  font-size: 1.5em;
  text-align: center;
}
select{
  margin-bottom: 5px;
  line-height: 15px;
  height: 20px;
  outline: none;
  padding: 3px 3px 3px 3px;
  width: 100%;
}
input{
  margin-bottom: 5px;
  line-height: 15px;
  height: 20px;
  outline: none;
  padding: 3px 3px 3px 3px;
  width: 100%;
}
.submit{
  height: 30%;
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 9px;
  margin-top: 15px;
  width: 40%;
}
.schedule-table{
  margin: 0 auto 40px auto;
  font-size: 1.5em;
}
td{
  border-bottom: 1px solid black;
  padding: 5px 10px 10px 5px;
}
th{
  padding: 5px 10px 10px 5px;
}
